<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Erick Ntekereze">
	<META NAME="CREATED" CONTENT="20181004;114800000000000">
	<META NAME="CHANGEDBY" CONTENT="Erick Ntekereze">
	<META NAME="CHANGED" CONTENT="20181004;172200000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Swiffshot">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 1.25in; margin-right: 1.25in; margin-top: 1in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" LINK="#0000ff" DIR="LTR">
<P STYLE="margin-bottom: 0in"><BR>Effective Date 8/10/2017</P>
<P STYLE="margin-bottom: 0in">Your privacy is important to us and we
are committed to protecting your information in accordance with the
terms of this Privacy Policy.</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>Overview</B></P>
<P STYLE="margin-bottom: 0in"><BR>This Privacy Policy describes the
collection, use and disclosure of information by Swiff Technologies,
Inc the owner of “Fotes”. (”Swiff Technologies”, ”we”,
”us”) and other parties with respect to your use of all
properties (Web sites, mobile applications, or otherwise) owned or
operated by Swiff Technologies and our affiliates (collectively, the
“Properties”), and all products and services available from Swiff
Technologies and our affiliates, or other third parties in connection
with the Properties (individually and collectively with the
Properties, the “Services”). By accessing or using the Services,
you are accepting the practices described in this Privacy Policy. If
you do not agree to the terms of this Privacy Policy, please do not
use the Services. All capitalized terms used but not defined in this
Privacy Policy have the meanings given in our&nbsp;Terms of
Use&nbsp;(Terms and Privacy Policy can be found within the mobile
application and at www.fotes.com). References to “you” mean you
as a User. References to Swiff Technologies (or ”we” or ”us”)
also include Swiff Technologies’s service providers and partners,
to the extent that such service providers are collecting, using or
disclosing information for or on behalf of Swiff Technologies.</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>Privacy Policy Updates</B><BR>We may
update this Privacy Policy at any time by posting a revised version.
Any changes to this Privacy Policy will be effective immediately upon
posting. Please review this Privacy Policy each time you use the
Services, as your continued use of the Services after such changes
will constitute your acceptance and agreement to such changes.</P>
<P STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>Collection of
Information</B><BR><B>Information You Provide</B><BR><U>Information
You Submit.</U>&nbsp;You will need to open an account if you would
like to use the Services. When using the Services, you may elect to
provide information about yourself, such as name, email address,
friends and information about your use of the Services or your
experiences with Swiff Technologies or Users. You may provide this
information, for example, when you create an account, post User
Submissions, request or purchase products or services, communicate
with us or a User, subscribe to our email programs, ”Like” us on
Facebook or otherwise connect us to your social networks, or complete
other forms. In connection with the Services, you may also elect to
provide lists, reviews, comments, feedback, notes, photos, videos,
know-how, techniques, or other information relating to you.</P>
<P STYLE="margin-bottom: 0in"><U>Third Party Authentication.</U>&nbsp;If
you use a third party connection function offered through the
Services to create an account and login, then you agree that we may
access any of your profile information that you have made available
to be shared including your profile photo, your email address and
your lists and to use it in accordance with the Terms of Use and this
Privacy Policy. Please refer to the third party connection policies
to manage information that is shared through that account.</P>
<P STYLE="margin-bottom: 0in"><B>Information We Collect
Automatically</B><BR><U>Cookies and Web Beacons.</U>&nbsp;We, our
service providers and our advertising networks use cookies, web
beacons (sometimes called single-pixel gifs or action tags) or
similar technologies in connection with the Services, in emails and
in advertisements to collect information about your online
activities. Cookies (small data files that your Internet browser
stores on your hard disk or in your browser’s memory) are used by
the Services to connect your activity on the Services with other
information we store about you in your account profile or from prior
usage of the Services. Web beacons are electronic images that assist
in delivering cookies, provide additional information (such as which
ad you clicked on to arrive at the Services) and allow us to compile
aggregated statistics. For example, the use of cookies allows us to
improve our Services by tracking saved searches, understanding your
and other site visitors’ use of various features and functionality,
delivering targeted ads that are more relevant to you, avoiding ad
duplication, measuring the effectiveness of advertising and otherwise
creating a consistent user experience for you. Collected information
may include the content you view, the date and time you view content,
and the referring web site or advertisement. This information may be
associated with your unique browser, device identifier or IP
address.<BR>At any time, you may adjust your browser settings to
delete existing cookies (and the data that web beacons add to the
cookie), or refuse new cookies, according to the method permitted by
your browser. If you choose to delete cookies, you will need to log
in again on your next visit to the Services and re-enter any
preferences you have set. If you choose to disable cookies, you may
not be able to access or use some portions and features of the
Services and may not get the best experience possible.<BR>Your
browser may offer you a “Do Not Track” option, which allows you
to signal to operators of websites and other properties that you do
not wish such operators to track certain online activities. Our
Services do not support Do Not Track requests at this time.<BR><U>Log
Usage Data.</U>&nbsp;Our servers automatically record usage log data
created when you use the Services. Usage log data may include
information such as your IP address, browser type, operating system,
referring web page, referring email, referring application, visited
web pages, location, mobile carrier, computer or mobile device type,
search terms, content viewed, content created, and cookie
information.<BR><U>Location Data.</U>&nbsp;If you provide location
information during the account registration process or at any other
time via your account settings, or if location information is
included as part of the information we collect (for example, your IP
address may provide an approximate geo-location), we may store that
information in connection with your account. If you are using mobile
Services, we may collect location data directly from your mobile
device if your device allows us to do so. Your mobile device
manufacturer or mobile service provider may provide you with choices
about how and whether location data is shared with us.</P>
<P STYLE="margin-bottom: 0in"><B>Other Information We Collect</B><BR><U>Email
and Mobile Content Programs.</U>&nbsp;You can choose to receive
promotional emails from us. Like most e-commerce sites, we include
software code in our emails to monitor whether and when you opened
the email, whether you have clicked on the images and/or links in the
email, and whether your computer or mobile device is capable of
receiving HTML-based email. You may also choose to access our content
through a mobile application and to receive text messages on your
mobile device.</P>
<P STYLE="margin-bottom: 0in"><B>Information Collected by Third
Parties</B><BR><U>Online Activity.</U>&nbsp;You may get cookies or
web beacons from our advertisers, tracking utilities, partners or
other third parties with links on the Properties. While this is a
standard practice in the industry, we have no control or access to
these cookies or web beacons. Our Privacy Policy does not cover the
use of these technologies by third parties or the use of such
technologies on websites or mobile applications other than the
Properties.</P>
<P STYLE="margin-bottom: 0in"><B>Aggregate Information</B><BR>We
collect non-personal, statistical information about the use of the
Services, such as how many visitors visit a specific page, how long
they stay, and which links they click on. We may also group and
de-personalize information into aggregate visitor data in order to
describe and analyze Services usage. Information collected may be
combined with other personal or aggregate information, including
information we collect by other means (for example, if you call or
email us). The combined information will also be subject to this
Privacy Policy.</P>
<P STYLE="margin-bottom: 0in"><B>Use of Information</B><BR>Any
information we collect from you may be used in the following ways:<BR>•
To provide the Services;<BR>• To improve the Services (for example,
to personalize your experience to make it smoother and more relevant
to you, and to improve the content and design of the Properties;<BR>•
To process transactions, to provide and improve customer service, and
to otherwise manage our customer relationships;<BR>• To provide you
with information about products and services from Swiff Technologies
and our partners that may be of interest to you, and to optimize our
and our partners’ marketing campaigns;<BR>• To provide you with
complementary product and services that may be of interest to you,
including discounts and other benefits from our partners;<BR>• To
administer contests, promotions or sweepstakes;<BR>• To prevent
fraud and abuse, to comply with applicable laws and legal process, to
address technical and security issues, to comply with applicable laws
and legal process, and to otherwise protect Users and our business;<BR>•
To develop and deliver our advertising, products and services and
analyze their effectiveness; and<BR>• To perform other functions
described at the time the information is collected.</P>
<P STYLE="margin-bottom: 0in"><B>Disclosure of
Information</B><BR>Information that you choose to provide in a public
area of the Services (such as your profile page, lists or via User
Submissions) will not be protected by this Privacy Policy because you
have chosen to make that information public. Otherwise, your
information and aggregate information will be shared with third
parties only in accordance with this Privacy Policy, as
follows:<BR><B>Consent</B><BR>We may share your information when you
consent or direct Swiff Technologies to do so. The method of consent
will be appropriate for the type of personal information involved and
the purposes for which it is collected, used or disclosed. Depending
on the circumstances, consent may be express (i.e., you specifically
agree either verbally, in writing or electronically) or
implied.<BR><B>Compliance with Laws and Policies; Protection of
Rights</B><BR>We may release your information (including personally
identifiable information) and aggregated information when we believe
that doing so is appropriate to comply with applicable laws,
regulations, subpoenas, warrants or court orders, or other legal
requirements; to cooperate with government or law enforcement; to
resolve complaints or disputes; to avoid legal liability; to comply
with, enforce or investigate potential violations of our agreements,
Terms of Use, Privacy Policy or other policies; to bill and collect
amounts owed to us; to protect our rights, reputation, safety or
property or that of Users or others; and to address fraud, security
or technical issues.<BR><B>Sale/Merger</B><BR>We can also share your
personal data as part of a sale, merger or change in control, or in
preparation for any of these events. Any other entity which buys us
or part of our business will have the right to continue to use your
data, but only in the manner set out in this Privacy Policy unless
you agree otherwise.<BR><B>Contest/Sweepstakes</B><BR>We may publicly
disclose the name, city and state of winners.<BR><B>Aggregate Data</B><BR>We
may share aggregated, non-personal data with service providers,
advertisers or existing or potential business partners.<BR>Opting
Out; Editing Your Personal Information<BR><B>Changing Information</B><BR>We
provide choices about the collection, use and sharing of your data,
from deleting or correcting data you include in your profile and
controlling the visibility of your posts to advertising opt-outs and
communication controls.<BR><B>Email Programs</B><BR>You may
unsubscribe at any time from our email programs by clicking on the
unsubscribe link included at the bottom of every email message or by
sending a request to legal@fotes.com. We reserve the right to send
you service announcements (such as notifications about site outages)
or administrative messages, without offering you the opportunity to
opt out of receiving them.<BR><B>Mobile Programs</B><BR>You may opt
out of a specific mobile messaging campaign by texting ”stop”.
Text “stop all” to opt out of all mobile messaging.</P>
<P STYLE="margin-bottom: 0in"><B>Your California Privacy
Rights</B><BR>Section 1798.83 of the California Civil Code permits
California residents to request from a business, with whom the
California resident has an established business relationship, certain
information about our disclosure of personal information during the
prior calendar year to third parties for their direct marketing
purposes. You may make one request each year by emailing us at
legal@fotes.com or writing us at <FONT COLOR="#262833"><FONT FACE="Arial, serif">2711
Centerville Road, Suite 499, Wilmington, Delaware 19808.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>Security</B><BR>The security of your
personal information is important to us. We maintain
industry-standard physical, electronic, and procedural safeguards,
such as firewalls and encryption technology, to protect against the
loss, misuse, and alteration of the information under our control.
However, no method of transmitting information over the Internet or
storing information is completely secure. Accordingly, we cannot
guarantee the protection of any information shared with us.<BR>If you
create an account, you may be asked to choose a password to protect
your account and account information. We recommend that you do not
disclose your password to any other person. You are responsible for
maintaining the confidentiality of your password and account, and are
fully responsible for all activities that occur under your password
or account.</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>General</B><BR><B>Children</B><BR>The
Services are not directed to children under 13, and we do not
knowingly collect or store any personally identifiable information
about persons under the age of 13. If we learn that we have collected
personally identifiable information of a child under 13, we will make
commercially reasonable efforts to delete such information from our
files. If you are under the age of 13, please do not submit any
personal information through the Properties.</P>
<P STYLE="margin-bottom: 0in"><BR><B>Third-Party Websites</B><BR>Our
Services may contain links to other websites and services. Any
information that you provide on another website or service is
provided directly to the owner or operator of the website or service
and is subject to that party’s privacy policy. In addition, if you
visit the Services through a link or advertisement on another
website, then that website may be collecting information from users
who click on the link or banner, and the collected information will
be subject to that website’s privacy policy. Our Privacy Policy
does not apply to any such websites or services, and we are not
responsible for their content, privacy or security practices and
policies. To protect your information we recommend that you carefully
review the privacy policies of other websites and services that you
access.</P>
<P STYLE="margin-bottom: 0in"><BR><B>Governing Law; Visitors Residing
Outside the United States</B><BR>All of the Services are hosted in
the United States. This Privacy Policy and the privacy practices of
our Services will be subject exclusively to the laws of the State of
Washington within the United States of America, without regard to
conflict of law principles. If you reside outside of the United
States, you are responsible for complying with local laws in
connection with your use of the Services, and you consent to the
collection, transfer, storage, and use of your personal information
in the United States of America in accordance with this Privacy
Policy.</P>
<P STYLE="margin-bottom: 0in"><B>Swiff Technologies Terms of Use<BR></B>Your
access or use of the Services is subject to Swiff Technologies’s
Terms of Use (Terms and Privacy Policy can be found within the mobile
application and at&nbsp;<A HREF="http://www.fotes.com">www.fotes.com</A>).</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in"><B>Contacting Us&nbsp;</B><BR>If you
have any questions or suggestions regarding our Privacy Policy,
please contact us by email at legal@fotes.com or in writing at <FONT COLOR="#262833"><FONT FACE="Arial, serif">2711
Centerville Road, Suite 499, Wilmington, Delaware 19808.</FONT></FONT></P>
</BODY>
</HTML>
