<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Erick Ntekereze">
	<META NAME="CREATED" CONTENT="20181004;113800000000000">
	<META NAME="CHANGEDBY" CONTENT="Erick Ntekereze">
	<META NAME="CHANGED" CONTENT="20181004;171600000000000">
	<META NAME="AppVersion" CONTENT="14.0000">
	<META NAME="Company" CONTENT="Swiffshot">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { size: 8.5in 11in; margin-left: 1.25in; margin-right: 1.25in; margin-top: 1in; margin-bottom: 1in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" LINK="#0000ff" DIR="LTR">
<P STYLE="margin-bottom: 0in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif">Terms
of Service</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif">Effective
Date 8/10/2017</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>IMPORTANT
NOTICE: THESE TERMS REQUIRE BINDING ARBITRATION TO RESOLVE ANY
DISPUTE OR CLAIM RELATING TO THESE TERMS, THE SERVICES OR PROPERTIES
OR ANY RELATIONSHIP BETWEEN US. ANY SUCH DISPUTE OR CLAIM WILL BE
RESOLVED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS, CONSOLIDATED
OR REPRESENTATIVE ACTION OR ARBITRATION. THESE TERMS ALSO CONTAIN A
DISCLAIMER OF WARRANTIES AND A DISCLAIMER OF LIABILITY, AS WELL AS A
INDEMNIFICATION BY YOU. PLEASE READ THEM CAREFULLY.</B></FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><A NAME="_GoBack"></A>
<FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Agreement to
Terms.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;This
terms of use agreement (these “Terms”) constitutes a legally
binding contract between Swiff Technologies, Inc owner of “Fotes”.
(“Swiff Technologies,” “we,” “us”) and you, with respect
to your use of all properties (Web sites, mobile applications, or
otherwise) owned or operated by Swiff Technologies and our affiliates
(collectively, the “Properties”), and all products and services
available from Swiff Technologies and our affiliates, or other third
parties in connection with the Properties (individually and
collectively with the Properties, the “Services”). By accessing
or using the Services, you acknowledge that you have read,
understood, and agree to be bound by, these Terms, our&nbsp;</FONT></FONT><FONT COLOR="#ff8e1b"><FONT FACE="Arial, serif">Privacy
Policy</FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;(Terms
and Privacy Policy can be found within the mobile application and at
www.fotes.com), including any updates posted here or otherwise
communicated to you. If you do not agree to the Terms and the Privacy
Policy, please do not use the Services.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Changes
to Terms.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;We
may modify these Terms at any time by posting a revised version. Any
changes to the Terms will be effective immediately upon posting.
Please review the Terms each time you use the Services as your
continued use of the Services after such changes will constitute
acceptance of, and agreement to, such changes. You waive any right
you may have to receive specific notice of such changes.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Consent.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
affirm that you are at least 13 years of age or the age of majority
in your jurisdiction, whichever is greater, and are fully able and
competent to enter into, and comply with, these Terms. If you are
accessing and using the Services on behalf of a company or other
legal entity, you represent that you have the authority to bind that
entity to these Terms. In that situation, “you” and “your”
will refer to both you and that entity.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Our
Privacy Policy.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;Our&nbsp;</FONT></FONT><FONT COLOR="#ff8e1b"><FONT FACE="Arial, serif">Privacy
Policy</FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">,
which describes how we collect and use information from our users, is
available (Terms and Privacy Policy can be found within the mobile
application and at&nbsp;</FONT></FONT><A HREF="https://www.fotes.com/"><FONT COLOR="#ff8e1b"><FONT FACE="Arial, serif">www.Fotes.com</FONT></FONT></A><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;or
by emailing legal@fotes.com) as well as through the link titled
“Privacy” on our app and other locations within the Properties.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Third
Party Materials.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;The
Services may contain links to third party websites, advertisements,
services, metadata, offers, activities or other content
(collectively, “Third Party Materials”). These Third Party
Materials are not owned or controlled by Swiff Technologies. These
Third Party Materials are provided for your reference and convenience
only, and do not imply any endorsement, sponsorship or recommendation
by Swiff Technologies.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Grant
of Limited License to Users.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;Subject
to your compliance with these Terms, we hereby grant you, as a User,
a limited, revocable, non-exclusive, non-transferable and
non-sublicensable right to access and use the Services for your
personal, non-commercial and informational use only.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Swiff
Technologies Services are Protected.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;The
Services, including all material and information, and the selection,
arrangement and composition of such information (“Materials”) are
proprietary property of Swiff Technologies, its suppliers, and
licensors and are protected by United States and international
intellectual property laws, including but not limited to trademark
and copyright laws. You agree not to remove, alter or obscure any
copyright, trademark or proprietary rights notice incorporated in or
accompanying the Services. Except for the limited license explicitly
granted to you under these Terms, no other license is granted to you,
whether by implication, estoppel or otherwise and all rights are
explicitly reserved.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>No
Reverse Engineering.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
may not reverse engineer, decompile, disassemble or otherwise attempt
to derive the source code or architectural framework for the Services
(except to the extent specifically permitted by applicable law).</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>No
Automated Queries; No Harvesting.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
may not access, download, monitor, or copy any information or content
contained on or in the Properties or the Services through automated
or artificial means (including, but not limited to, screen and
database scraping, spiders, robots, crawlers, deep-link, or any
similar or equivalent automatic or manual process), or in any way
obtain or attempt to obtain any content or information through any
means that Swiff Technologies does not intentionally make available
through the Services. However, general purpose Internet search
engines and non-commercial public archives that use tools to gather
information for the sole purpose of displaying hyperlinks to the
Services are granted a limited exception from the foregoing
exclusion, provided that they do so from a stable IP address or range
of IP addresses using an easily-identifiable agent that adheres to
all limitations set forth in any applicable robots.txt file. You may
not harvest information about Users for any purpose.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>No
Improper Uses.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
may not frame any part of our Services. You may not use, or attempt
to use, the Services through any means not explicitly and
intentionally made available, provided or intended with respect to
the Services (including, but not limited to, attempting to gain
unauthorized access to any portion of the Properties, the Services,
or any other systems connected to the Properties and Services). You
may not use or access the Properties or the Services in any manner
that could damage, disable, overburden, or impair the Services or
that could interfere with the rights of or otherwise harm Swiff
Technologies, its service providers, suppliers, other Users or any
other person.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Accurate
Information</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
You will be asked to disclose certain information about yourself when
you open or confirm your account. You agree to provide us with
accurate, complete and up to date information and to keep it updated,
complete and correct.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Third
Party Authentication</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
&nbsp;If you use a third party connection function offered through
the Services to create an account and login, then you agree that we
may access any of your profile information that you have made
available to be shared including your profile photo, your email
address and your lists and to use it in accordance with these Terms
and the Privacy Policy. Please refer to the third party connection
policies to manage information that is shared through that account.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Security
of Account.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
agree you won’t disclose your password to anyone and you’ll
notify us immediately of any unauthorized use of your account. You
are responsible for all activities that occur in your account,
whether or not you know about them.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Collected
Data Definition.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
agree and acknowledge that Swiff Technologies may collect text,
lists, photos, videos, comments, reviews, feedback, notes, ideas,
know-how, techniques, friend lists, data or other information
(individually and collectively, “Information”) before, during,
and after the provision of Services, or otherwise in connection with
the Services (individually and collectively, “Collected
Information”).</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>You
Are Responsible for User Submissions.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;The
Services may permit you and other Users to submit Information
(individually and collectively, “User Submissions”). The person
submitting a User Submission, and not Swiff Technologies, is solely
responsible for that person’s User Submission and the consequences
of submitting it. You acknowledge and agree that Swiff Technologies
has no obligation to pre-screen your or any other person’s User
Submissions.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Confidentiality
of User Submissions.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
agree that all User Submissions are not proprietary or confidential.
Please be careful what you post, to avoid inadvertently disclosing
your address or any other personal information that you do not wish
to be seen by the general public.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>License
to User Submissions.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;With
respect to both User Submissions and Collected Information, you grant
Swiff Technologies a worldwide, non-exclusive, royalty-free, fully
paid, perpetual, irrevocable, and fully sub-licensable and
transferable license to use, reproduce, distribute, prepare
derivative works of, publish, broadcast, publicly perform and
display, make, use, import, offer to sell, sell, and otherwise
transfer and exploit all copyrights, inventions, and other
intellectual property rights in the User Submissions and Collected
Information in any form and any medium. We will not pay you or
otherwise compensate you for User Submissions or Collected
Information.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Do
Not Post Illegal or Harmful Content.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
agree that you are the exclusive owner of all rights in the User
Submissions and such rights have not been assigned or encumbered. You
agree not to post, submit or link to any User Submissions or material
that infringes, misappropriates or violates the intellectual property
or other rights of any third party, or that is in violation of any
federal, state or local law, rule or regulation. Additionally, you
agree not to post, submit or link to any User Submissions or material
that is deceptive, fraudulent, threatening, harassing, defamatory,
obscene or otherwise objectionable as determined by Swiff
Technologies.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Do
Not Post Improper Content.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;You
agree not to post, submit or link to any User Submissions or material
that (i) directly or indirectly directs persons to another online or
offline location that provides products or services similar to the
Services; (ii) involves unsolicited or unauthorized advertising,
promotional materials, junk mail, spam, chain letters, pyramid
schemes, or any other form of solicitation; or (iii) facilitates
gambling, gaming, raffles, lotteries, sweepstakes, and/or any other
activity featuring the award of a prize.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Review
of User Submissions.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;We
do not approve, control or endorse your or anyone else’s User
Submissions and have no obligation to do so. However, we reserve the
right (but assume no obligation) to pre-screen, refuse, remove or
modify User Submissions for any reason, at our sole discretion.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Suggestions.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;If
you elect to provide or make available to Swiff Technologies any
suggestions, comments, ideas, improvements or other feedback relating
to the Services or otherwise (“Suggestions”), Swiff Technologies
will be free to use, disclose, reproduce, have made, modify, license,
transfer and otherwise utilize and distribute your Suggestions in any
manner, without credit or compensation to you.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Accuracy
of Information.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;Swiff
Technologies makes no representation or warranty about the accuracy
or suitability of the User Submissions or other information displayed
on the Properties or provided through the Services.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Third-Party
Intellectual Property.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;All
non-Swiff Technologies trademarks, product names and logos appearing
on our Services are property of their respective owners.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Claims
of Copyright Infringement.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;If
you believe that your work has been reproduced in connection with the
Services in a manner that constitutes copyright infringement, you may
submit a notification pursuant to the Digital Millennium Copyright
Act (“DMCA”) by sending a written notification to Swiff
Technologies at the address below, with the following information:
(i) a physical or electronic signature of the person authorized to
act on behalf of the owner of the copyright interest, (ii)
identification of the copyrighted work claimed to have been
infringed, (iii) a description of where the material that you claim
is infringing is located within the Services, (iv) information
reasonably sufficient to permit us to contact you, such as an
address, telephone number, and, if available, an e-mail address, (v)
a signed statement that you have a good faith belief that use of the
material in the manner complained of is not authorized by the
copyright owner, its agent, or the law, and (vi) a signed statement
that the information in the notification is accurate, and under
penalty of perjury, that you are the copyright owner or you are
authorized to act on behalf of the owner.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif">Notification
pursuant to the DMCA should be submitted to:</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif">Swiff
Technologies, Inc.<BR>2711 Centerville Road, Suite 499, Wilmington,
Delaware 19808<BR>+866-963-8506<BR>legal@fotes.com</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Trademarks</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
&nbsp;The Swiff Technologies names and logos are trademarks of Swiff
Technologies, and may not be copied, imitated or used, in whole or in
part, without the prior written permission of Swiff Technologies.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Warranty
Disclaimer&nbsp;</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">THE
SERVICES ARE PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF
ANY KIND, EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMITTED
BY LAW, THE SWIFF TECHNOLOGIES PARTIES DISCLAIM ALL WARRANTIES,
EXPRESS, IMPLIED, STATUTORY, AND OTHERWISE, IN CONNECTION WITH THE
SERVICES AND YOUR USE OF OR TRANSACTIONS WITH SWIFF TECHNOLOGIES,
USERS OR OTHER THIRD PARTIES, INCLUDING BUT NOT LIMITED TO, ANY
IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE, SATISFACTORY QUALITY, SECURITY, ACCURACY,
AVAILABILITY, USE OF REASONABLE CARE AND SKILL, AND NON-INFRINGEMENT,
AS WELL AS WARRANTIES ARISING BY USAGE OF TRADE, COURSE OF DEALING,
AND COURSE OF PERFORMANCE.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Limitation
of Liability&nbsp;</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">IN
NO EVENT WILL THE SWIFF TECHNOLOGIES PARTIES BE LIABLE TO YOU OR ANY
THIRD PARTY FOR ANY COST OF COVER, LOST PROFITS OR DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER
ARISING OUT OF, BASED ON, OR RESULTING FROM YOUR USE OF THE SERVICES
AND YOUR USE OF, OR TRANSACTIONS WITH, SWIFF TECHNOLOGIES, USERS OR
OTHER THIRD PARTIES, WHETHER BASED ON WARRANTY, CONTRACT, TORT,
NEGLIGENCE OR ANY OTHER LEGAL THEORY, WHETHER OR NOT SUCH DAMAGES ARE
FORESEEABLE AND WHETHER OR NOT SWIFF TECHNOLOGIES IS ADVISED OF THE
POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY
SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE
JURISDICTION. IN NO EVENT WILL THE COLLECTIVE LIABLITY OF THE SWIFF
TECHNOLOGIES PARTIES ARISING OUT OF OR IN CONNECTION WITH THESE
TERMS, THE PRIVACY POLICY, THE SERVICES, AND YOUR USE OF, OR
TRANSACTIONS WITH, SWIFF TECHNOLOGIES, USERS OR OTHER THIRD PARTIES
EXCEED THE LESSER OF (A) THE AMOUNT YOU HAVE PAID TO SWIFF
TECHNOLOGIES FOR USE OF THE APPLICABLE SERVICES IN THE PRECEDING
TWELVE MONTH PERIOD OR (B) IF YOU HAVE NOT HAD ANY PAYMENT
OBLIGATIONS TO SWIFF TECHNOLOGIES, TEN DOLLARS. &nbsp;Any claims
relating to use of the Services must be brought within one (1) year
from the date the cause of action arose. Claims brought after such
period will be VOID.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Indemnification</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
&nbsp;You agree to indemnify, defend and hold harmless the Swiff
Technologies Parties from and against any claims, disputes, demands,
losses, obligations, liabilities, expenses, damages and costs
(including but not limited to attorney’s fees) due to or arising
out of (1) your access to or use of the Services, (2) your use of, or
transactions with, Swiff Technologies, users or other third parties,
or (3) any other violation by you of any of these terms. Swiff
Technologies reserves the right, at its own cost and sole discretion,
to assume the exclusive defense and control of any matter otherwise
subject to indemnification by you, in which event you will fully
cooperate with Swiff Technologies in asserting any available
defenses.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Arbitration,
Venue, Governing Law, and Attorneys’ Fees.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;&nbsp;Any
controversy or claim arising out of or relating to these Terms, the
Privacy Policy, your access to or use of the Services or the
Properties or any relationship between us, including but not limited
to the validity, applicability or interpretation of these terms or
the privacy policy (any of these, a “Dispute”), including any
dispute regarding the scope or enforceability of this arbitration
provision, shall be settled exclusively by arbitration administered
by the American Arbitration Association in accordance with its
then-current Commercial Arbitration Rules (“AAA Rules”), and
judgment on the award may be entered in any court having
jurisdiction. &nbsp;The place of arbitration shall be Seattle,
Washington before a panel of three arbitrators. Pursuant to the
Emergency Rules of Protection of the AAA Rules, either party may
apply to the arbitrator(s) seeking injunctive relief until the
arbitration award is rendered or the controversy is otherwise
resolved. The cost of arbitration shall be borne equally by the
parties and each party shall be responsible for its own attorneys’
fees and expenses, provided that the prevailing party in the
arbitration shall be entitled to recover all reasonable attorneys’
fees and expenses. Neither a party nor an arbitrator may disclose the
existence, content or results of any arbitration without the prior
written consent of both parties. &nbsp;The parties agree the United
States Arbitration Act shall govern the interpretation, enforcement
and proceedings pursuant to this arbitration provision. If for any
reason a claim proceeds in court rather than in arbitration, we each
waive any right to a jury trial and agree that such claim shall be
brought only in courts of competent jurisdiction located in King
County, Washington. You hereby submit to the personal jurisdiction
and venue of such courts and waive any objection on the grounds of
venue, forum non-conveniens or any similar grounds with respect to
any such proceeding. These Terms shall be governed by and interpreted
in accordance with the laws of the State of Washington, excluding its
choice of law rules.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Class
Action Waiver.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;ANY
DISPUTE WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A
CLASS, CONSOLIDATED OR REPRESENTATIVE ACTION OR ARBITRATION OR AS A
NAMED OR UNNAMED MEMBER IN A CLASS, CONSOLIDATED, REPRESENTATIVE OR
PRIVATE ATTORNEY GENERAL LEGAL ACTION. YOUR ACCESS AND CONTINUED USE
OF THE PROPERTIES AND/OR THE SERVICES SIGNIFIES YOUR EXPLICIT CONSENT
TO THIS WAIVER.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Injunctive
Relief</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
&nbsp;Notwithstanding anything to the contrary, you and Swiff
Technologies may seek injunctive relief and any other equitable
remedies from any court of competent jurisdiction to protect
intellectual property rights, whether in aid of, pending or
independently of the resolution of any Dispute pursuant to the
arbitration procedures set forth above.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Assignment.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;These
Terms, and any rights and licenses granted hereunder, may be
transferred or assigned by you only with Swiff Technologies’s prior
written consent, but may be assigned by Swiff Technologies without
restriction and without notice to you.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Export
Control.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;Software
and the transmission of applicable technical data, if any, in
connection with the Services may be subject to export controls. You
agree to comply with all applicable laws regarding software and the
transmission of technical data exported from the United States or the
country in which you reside.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Entire
Agreement and Severability.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;These
Terms constitute the entire agreement between you and Swiff
Technologies concerning the Services and supersede all prior or
contemporaneous communications of any kind between you and Swiff
Technologies with respect to the Services. If any provision of these
Terms is held by a court or other tribunal of competent jurisdiction
to be invalid, void, or unenforceable, such provision shall be
limited or eliminated to the minimum extent necessary and replaced
with a valid provision that best embodies the intent of these Terms,
and the remainder of these Terms shall remain in full force and
effect.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Waiver.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;No
waiver of any provision of these Terms shall be deemed a further or
continuing waiver of such term or any other term, and Swiff
Technologies’s failure to assert any right or provision under these
Terms shall not constitute a waiver of such right or provision.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Modification
of Services.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;We
reserve the right to modify, restrict access to, or discontinue the
Services (or any portion of the Services), temporarily or
permanently, with or without notice to you, and we are not obligated
to support or update the Services. Unless explicitly stated
otherwise, any new features that augment or enhance the current
Services shall be subject to these Terms.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Termination;
No Right to Services.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;We
reserve the right to refuse service to anyone. We reserve the right,
with or without notice, and in our sole discretion, to terminate any
license to the Services, in whole or in part, and to block or prevent
any User’s future access to and use of the Services, for any at any
time and for any reason (including but not limited to those
specifically described in these Terms).</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Third
Party Beneficiaries.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;Neither
these Terms nor the Privacy Policy create any right of action on the
part of any third party, except for the Swiff Technologies Parties
and suppliers or others who are party to written agreements with us
explicitly giving them third party beneficiary rights.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Attorney
Fees.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;If
any of the Swiff Technologies Parties take legal action against you
as a result of your violation of these Terms, the Swiff Technologies
Parties will be entitled to recover from you, and you agree to pay,
all reasonable attorneys’ fees and costs of such action, in
addition to any other relief granted to the Swiff Technologies
Parties.</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Contact
Us.</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">&nbsp;If
you have questions about these Terms, please contact us by email at
legal@fotes.com or in writing at Swiff Technologies, Inc., 2711
Centerville Road, Suite 499, Wilmington, Delaware 19808</FONT></FONT></P>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif"><B>Apple
Applications</B></FONT></FONT><FONT COLOR="#262833"><FONT FACE="Arial, serif">.
These terms incorporate and supplement the Apple, Inc. (“Apple”)
terms and Conditions (available
at&nbsp;</FONT></FONT><A HREF="https://www.apple.com/legal/itunes/us/terms.html#service"><FONT COLOR="#ff8e1b"><FONT FACE="Arial, serif">https://www.apple.com/legal/itunes/us/terms.html#service</FONT></FONT></A><FONT COLOR="#262833"><FONT FACE="Arial, serif">),
including the Licensed Application End User terms therein (“Apple
terms”). If you are using the Services through an Apple application
(“Apple Application”), you also acknowledge and agree:</FONT></FONT></P>
<UL>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
	<FONT COLOR="#262833"><FONT FACE="Arial, serif">Apple has no
	obligation at all to provide any support or maintenance services in
	relation to the Apple Application. If you have any maintenance or
	support questions in relation to the Apple Apps, please contact
	Swiff Technologies, not Apple, using the above details;</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
	<FONT COLOR="#262833"><FONT FACE="Arial, serif">except as otherwise
	expressly set out in these Terms, any claims relating to the
	possession or use of the Apple Application are between you and Swiff
	Technologies (and not between you, or anyone else, and Apple); and</FONT></FONT></P>
	<LI><P STYLE="margin-top: 0.19in; margin-bottom: 0.19in; background: #ffffff">
	<FONT COLOR="#262833"><FONT FACE="Arial, serif">in the event of any
	claim by a third party that your possession or use (in accordance
	with these terms) of the Apple Application infringes any
	intellectual property rights, Apple will not be responsible or
	liable to you in relation to that claim;</FONT></FONT></P>
</UL>
<P STYLE="margin-bottom: 0.21in; background: #ffffff"><FONT COLOR="#262833"><FONT FACE="Arial, serif">If
the Apple Application that you have purchased does not conform to any
warranty applying to it, you may notify Apple, which may refund the
purchase price of the Apple Application to you subject to
then-current Apple terms and conditions. Subject to that, and to the
maximum extent permitted by law, Apple does not give or enter into
any warranty, condition or other term in relation to the Apple
Application and will not be liable to you for any claims, losses,
costs or expenses of whatever nature in relation to the Apple
Application or as a result of you or anyone else using the Apple
Application or relying on any of its content.</FONT></FONT></P>
<P STYLE="margin-bottom: 0in; background: #ffffff"><BR>
</P>
<P STYLE="margin-bottom: 0in"><BR>
</P>
</BODY>
</HTML>
